.button { padding: .3rem 1rem; border: none; border-radius: 1rem; font-size: 1rem; font-weight: 500; text-align: center; color: white; outline: none; cursor: pointer; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); transition: background-color 0.3s, box-shadow 0.3s; margin-top: 0; margin-bottom: 0; }

.button.light { background-color: #D9D9D9; color: #000000; }
.button.dark { background-color: #022539; }
.button.light.green { background-color: #9DC53E; color: #FFFFFF; }

.button.darkblue {
  padding: 10px 50px;
  border: none;
  border-radius: 1rem;
  font-size: 16px;
  font-weight: bold;
  background-color: #062547;
}

.button.grey {
  padding: 10px 50px;
  border: none;
  border-radius: 1rem;
  font-size: 16px;
  font-weight: bold;
  background-color: #D9D9D9;
  color: black;
}

.button.pink {
  padding: 10px 50px;
  border: none;
  border-radius: 1rem;
  font-size: 16px;
  font-weight: bold;
  background-color: #FFCCCC;
}

.button.green {
  background-color: #9DC53E;
  padding: 10px 50px;
  border: none;
  border-radius: 1rem;
  font-size: 16px;
  font-weight: bold;
}

.button.bright-green {
  background-color: #009F23;
  padding: 10px 50px;
  border: none;
  border-radius: 1rem;
  font-size: 16px;
  font-weight: bold;
}




.button.lightgreen {
  background-color: #BED499;
  color: #333333; /* Color del texto, un gris oscuro */
  padding: 10px 200px; /* Espaciado interior para que el texto no toque los bordes */
  font-family: 'Arial', sans-serif; /* Tipo de letra */
  font-size: 16px; /* Tamaño del texto */
  font-weight: bold; /* Negrita para el texto */
  border-radius: 1rem; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave para dar profundidad */
  text-shadow: 0 1px 0 #ffffff; /* Sombra sutil en el texto para mejorar el contraste */
  cursor: pointer; /* Cursor de mano al pasar el mouse */
  transition: background-color 0.3s, box-shadow 0.3s; 
}

.button.yellow {
  background-color: #FFDFA1;
}

.button.darkgreen {
  background-color: #9DC53E;
}


.button:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.button:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.button.icon { padding: .5rem; border-radius: 100%; }
.button img { height: 1.2rem; filter: invert(100%); }

.button:hover { box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); }

.button:active { box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); }
