.agents-content { display: flex; height: 100%; flex-direction: column; flex-wrap: nowrap; justify-content: flex-start; align-items: stretch; gap: 1rem; padding-top: .5rem; }
.agents-content select { flex: 0 1 auto; width: 15%; }
.agents-content .content-card { flex: 1 0 auto; }