.button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px; /* Esquinas redondeadas */
  font-size: 16px; /* Tamaño del texto */
  font-weight: bold; /* Negrita en el texto */
  text-align: center; /* Alineación del texto */
  color: white; /* Color del texto */
  outline: none; /* Remover el borde al hacer focus */
  cursor: pointer; /* Cursor de mano al pasar el mouse */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: background-color 0.3s, box-shadow 0.3s; /* Transición suave al cambiar de estado */
}

/* Estilos para el botón superior (gris claro) */
.button.light {
  background-color: #E0E0E0; /* Color de fondo gris */
  color: #555; /* Color del texto más oscuro para contraste */
}

/* Estilos para el botón inferior (azul) */
.button.dark {
  background-color: #007BFF; /* Color de fondo azul */
}

/* Efecto al pasar el mouse por encima del botón */
.button:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Efecto al presionar el botón */
.button:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra más pequeña para efecto de presionado */
}
