.insight-container {
    @apply p-5 mb-5 bg-gray-100
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.insight-container h2 {
    @apply text-lg mb-2
    color: #333;
}

.insight-container p {
     @apply text-base leading-normal
    color: #555;
}