.dashboard .dashboard-content .column :is(.metrics, .insights) { display: flex; flex-wrap: wrap; align-items: stretch; gap: 1rem; flex-direction: row; align-content: flex-start; justify-content: center; }
.dashboard .dashboard-content .column :is(.metrics, .insights) :is(.metric-card, .chart) { flex: 1 1 100%; }

/* .css-1u0lry5-MuiChartsLegend-root { transform: translateX(20px); } */