.btn-type-1 { display: block; text-align: center; background: var(--dark-blue); color: var(--white); padding: .6rem 0; border-radius: .5rem; font-size: 1rem; font-weight: 700; line-height: 1; transition: 0.5s; }
.btn-type-1:hover { box-shadow: 0px 0px 20px 0px #9DC53E; }
.btn-type-1.active { box-shadow: 0px 0px 0px 6px #9DC53E; }

.btn-type-2 { display: block; text-align: start; background: var(--light-green); color: var(--white); padding: .5rem 1rem; border-radius: .7rem; font-size: 1rem; font-weight: 500; line-height: 1; transition: 0.5s; outline: none; border-right: 1rem solid var(--light-green); }

.btn-type-2.light { display: block; text-align: start; background: var(--light-grey); color: var(--black); padding: .5rem 1rem; border-radius: .7rem; font-size: 1rem; font-weight: 400; line-height: 1; transition: 0.5s; outline: none; border-right: 1rem solid var(--light-grey); }

.btn-type-3 { display: block; text-align: center; background: var(--dark-blue); color: var(--white); padding: .4rem; border-radius: 100%; font-size: 1rem; font-weight: 700; line-height: 1; transition: 0.5s; }
.btn-type-3 img { width: 1.2rem; height: auto; display: block; margin: 0 auto; filter: invert(100%); }

.btn-type-4 {display: block; text-align: center; background: var(--danger-color); color:var(--white); padding:5px ; padding-left: 10px; width: 100%; ; border-radius: 15px; text-align: left; font-weight: 500}

.btn-type-6 { display: block; width: 100%; background-color: var(--dark-blue); border-radius: 5rem; color: white }
