/* layout */
.layout { --panel-size: 85%; width: 100%; height: 100vh; display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: stretch; position: relative; }

.layout nav { z-index: 11; width: calc(100% - var(--panel-size)); flex: 1 0 calc(100% - var(--panel-size)); background: linear-gradient(0deg, rgba(255,255,255,0) 50%, rgba(2,37,57,1) 50%); }
.layout nav .nav-container { z-index: 13; background: #F7F7F7; border-radius: 0 1rem 1rem 0; position: relative; padding-top: 2rem; padding-bottom: 2rem; box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25); height: 100%; }
.layout nav .content {  }
.layout nav .img { text-align: center; width: 100%; margin: 0 auto; border-bottom: 1px solid rgba(0, 0, 0, .3); }
.layout nav .img img { display: block; width: 80%; margin: 0 auto; text-align: center; padding: 1rem; }
.layout nav ul { padding-top: 1.5rem; display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: flex-start; align-items: stretch; gap: 1rem; }
.layout nav ul li {  }
.layout nav ul li a { font-size: .9rem; }

.layout .panel { width: var(--panel-size); flex: 1 0 var(--panel-size); display: flex; height: 100%; position: relative; flex-direction: column; flex-wrap: nowrap; justify-content: flex-start; align-items: stretch; overflow-y: auto; }
.layout .panel header { z-index: 11; height: auto; flex: 0 0 auto; background: #022539; color: #fff; box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25); position: sticky; top: 0; }
.layout .panel header .header-container {  }
.layout .panel header .content { padding-top: .5rem; padding-bottom: .5rem; display: flex; flex-direction: row; flex-wrap: wrap; align-content: flex-start; justify-content: space-between; align-items: center; }
.layout .panel header .title { flex: 0 0 auto; }
.layout .panel header .title h2 { font-size: 1.6rem; margin-bottom: 0; line-height: 1; font-weight: 700; }
.layout .panel header .title h2 .aid-letter { opacity: 0; }
.layout .panel header .links { flex: 1 0 auto; display: flex; flex-direction: row; flex-wrap: wrap; align-content: center; justify-content: flex-end; align-items: center; gap: 2rem; }
.layout .panel header .links button, a {  }
.layout .panel header .links button.bell {  }
.layout .panel header .links button.filter {  }
.layout .panel header .links a.account {  }



.dashboard { position: relative; height: 100%; }
.dashboard .container { height: 100%; }
.dashboard .dashboard-content { padding-top: 1rem; padding-bottom: 1rem; height: 100%; display: flex; flex-direction: row; flex-wrap: nowrap; align-items: stretch; justify-content: center; gap: .5rem; }
.dashboard .dashboard-content .column { padding-left: 1.5rem; padding-right: 1.5rem; flex: 1 0 0%; flex-basis: 0%; width: 100%; height: 100%; overflow-y: auto; padding-bottom: 4rem; }

.dashboard .dashboard-content .column::-webkit-scrollbar { width: .5rem; }
.dashboard .dashboard-content .column::-webkit-scrollbar-track { background: #EEEEEE; border-radius: 10rem; }
.dashboard .dashboard-content .column::-webkit-scrollbar-thumb { background: #A6A6A6; border-radius: 10rem; }
.dashboard .dashboard-content .column::-webkit-scrollbar-thumb:hover { background: #555; }

.dashboard .dashboard-content .column:nth-child(1) { padding-left: 0; padding-right: 1.5rem; }
.dashboard .dashboard-content .column:nth-child(2) { padding-left: 1.5rem; padding-right: 0; border-left: 1px solid black; }

.dashboard h2 { /*position: sticky; top: 0;*/ z-index: 2; font-size: 1.6rem; font-weight: 700; color: var(--dark-blue); margin-bottom: 1rem; }
.dashboard h5 { font-size: 1.1rem; font-weight: 700; padding: 1rem; text-align: center; }

/* .css-1u0lry5-MuiChartsLegend-root { transform: translateX(20px); } */