section.account { width: 100%; height: 100%; position: relative; }
section.account .account-content { display: flex; flex-wrap: nowrap; align-items: stretch; align-content: stretch; flex-direction: column; justify-content: flex-start; height: 100%; }

section.account .info { flex: 1 0 auto; display: flex; flex-wrap: nowrap; align-items: center; align-content: stretch; flex-direction: row; justify-content: flex-start; width: 100%; }
section.account .info .img { flex: 0 1 auto; padding: 0 2rem; }
section.account .info .img img { --size: 200px; width: var(--size); height: var(--size); border-radius: 100%; border: 1px solid rgba(0, 0, 0, .2); }
section.account .info .data { flex: 1 0 auto; }
section.account .info .data { padding: 0 2rem; }
section.account .info .data .inputs { display: flex; flex-wrap: wrap; gap: 2rem; }
section.account .info .data .inputs .column { flex: 1 0 calc(50% - 2rem); max-width: calc(50% - 2rem); }
section.account .info .data .inputs .column label { display: block; font-size: 1rem; font-weight: 500; margin-bottom: .5rem; line-height: 1; }
section.account .info .data .inputs .column input { display: block; width: 100%; font-size: 1rem; background: var(--light-grey);padding: .5rem 1rem; border-radius: .5rem; border: 1px solid rgba(0, 0, 0, .2); line-height: 1; }

section.account .bottom { flex: 0 0 auto; text-align: end; }
section.account .bottom button { display: inline-block; width: auto; }

section.account h2 { font-size: 1.4rem; font-weight: 500; margin-bottom: .2rem  ; line-height: 1; }
section.account .username { font-size: 1rem; font-weight: 400; margin-bottom: 1rem; line-height: 1; }


section.account .sidebar { flex: 1 0 auto; width: 100%; max-width: 20%; position: relative; }
section.account .sidebar .sidebar-container { padding: 0; width: 100%; height: 100%; border-right: 1px solid #000000; padding-top: 1rem; padding-bottom: 1rem; display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: center; align-items: stretch; padding-right: 1rem; }
section.account .sidebar .user { flex: 0 0 auto; padding: 0 .5rem; border-bottom: 1px solid rgba(0, 0, 0, 1); }
section.account .sidebar .user h2 { font-size: 1rem; line-height: 1.5; margin-bottom: 0; font-weight: 500; }
section.account .sidebar .user .subtitle { font-size: 1rem; line-height: 1.5; margin-bottom: 1rem; font-weight: 300; }

section.account .sidebar ul { flex: 1 0 auto; margin: 0; list-style: none; display: flex; flex-direction: column; flex-wrap: wrap; align-content: flex-start; align-items: stretch; justify-content: flex-start; padding: 0 .5rem; gap: .5rem; padding-top: 1rem; }
section.account .sidebar ul li { flex: 0 0 auto; width: 100%; }
section.account .sidebar ul li:last-child { flex: 1 0 auto; display: flex; align-items: flex-end; }

section.account .tab { flex: 1 0 auto; }
section.account .tab .tab-header { padding: 1rem 2rem; }
section.account .tab .tab-header .title {  }
section.account .tab .tab-header .title h3 { font-size: 1.4rem; margin-bottom: 0; line-height: 1; font-weight: 600; }
section.account .tab .tab-container { padding: 0 2rem; }
section.account .tab .tab-container form {  }
section.account .tab .tab-container form .form-control { padding: 1rem 0; }
section.account .tab .tab-container form .form-control label { display: block; font-size: 1.1rem; margin-bottom: .5rem; line-height: 1; font-weight: 500; }
section.account .tab .tab-container form .form-control input { display: block; width: 100%; }
section.account .tab .tab-container form button {  }

section.account .account-container .content .sidebar .sidebar-container ul li button {  }
section.account .account-container .content .sidebar .sidebar-container ul li button:hover {  }
section.account .account-container .content .sidebar .sidebar-container ul li button[data-active="true"] {  }
section.account .account-container .content .sidebar .sidebar-container ul li:last-child button {  }
section.account .account-container .content .sidebar .sidebar-container ul li:last-child button img {  }
section.account .account-container .content .sidebar .sidebar-container ul li:last-child button:hover {  }
section.account .account-container .content .sidebar .sidebar-container ul li:last-child button:hover img {  }